

h2
{
    
}


h3{
text-align: center;
color: white;
}

.score {
justify-content: center;
display:flex;
background: red;
font-size: 28px;
margin-left: 400px;
width: 325px;

}

#winner
{
    margin-left: 45px;
}

#loses
{
    margin-left: 45px;
}